.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
body {
  display: relative;
}
.popup-div {
  position: absolute;
  top: 5%;
  left: 30%;
  border: 2px solid black;
  width: 40vw;
  margin: auto auto;
  padding: 2rem;
  background-color: green;
}
.popup-div input {
  width: 80%;
  height: 40px;
}
.popup-div button {
  width: 50%;
  height: 30px;
  margin-top: 20px;
  background-color: yellow;
  font-weight: bolder;
  color: blue;
}
